{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}




{% block app_content %}
    <center><h1><span class="glyphicon glyphicon-knight" style="font-size: 30px"></span>  Register</h1></center>
    <br><br>
    <div class="row" >
        <div class="col-md-4"></div>
        <div class="col-md-4" >
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    <style>
    #submit {
        background-color: #7cbef0 !important;
        margin-top: 20px;
        float: right;
        }
    </style>
{% endblock %}

