{% extends "base.html" %}

{% block app_content %}
    {% if current_user.id==1  and current_user.role == 0 %}
        <div class="alert alert-info" role="alert" style="text-align: center"><a href="{{ url_for('personal.be_super', id=current_user.id) }}">您是第一位用户，点击这里成为超级管理员</a></div>
    {% endif %}
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked" >
              <li id="li1" role="presentation"><a href="{{ url_for('personal.user', username=current_user.username) }}">基本信息</a></li>
              <li id="li2" role="presentation"><a href="{{ url_for('personal.score') }}">成绩信息</a></li>
              <li id="li3" role="presentation"><a href="{{ url_for('personal.set_deadtime') }}">设置倒计时</a></li>
            </ul>
        </div>

        {% block user_content %}
        {% endblock %}

    </div>
        <style>
            #submit {
                background-color: #7cbef0 !important;
                margin-top: 20px;
                float: right;
                }
            </style>
{% endblock %}

