{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <style>
        .search{
            width: 100%;
            margin:0 auto;
            text-align: center;
        }
        .search input{
            margin-left:35px;
        }
        #myTitle{
            font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
            font-size: x-large;
            text-align: center;
            font-weight: bold;
        }
        #inform{
            font-size: 21px;
        }
    </style>
    <div id="myTitle"><span class="glyphicon glyphicon-education" id="inform"></span> 教务处通知、公告</div>
    <hr>
    <div class="row">
        <div class="search">
            {{ wtf.quick_form(form,form_type='inline') }}
        </div>
    </div>
    <hr style="border-bottom: 2px dashed #0066CC;">

    {% for news in news_cdut %}
        <li style="padding-bottom: 5px"><a href="{{ news.origin_url }}" target="_blank">{{ news.info }}<span style="float: right">{{ news.time }}</span></a></li>
    {% endfor %}

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

