{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <div class="row">
        <div class="col-xs-1 col-md-1"></div>
        <div class="col-xs-10 col-md-10">
            <center><h2><span class="glyphicon glyphicon-ice-lolly-tasted"
                              style="font-size: 26px"></span> {{ announce_model.name }}</h2></center>
            <hr>
            <br><br>
            <div class="well" style="text-align: center">
                <h4>{{ announce_model.info }}</h4>
            </div>
            <br><br>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-1 col-md-1"></div>
        <div class="col-xs-10 col-md-10">
            <span style="color: darkseagreen">需要填写的表单</span>
            <form action="" method="post">
                {{ form.hidden_tag() }}<br>
                <div class="col-xs-4 col-md-4">
                    {% for item in announce_model %}
                        {% if not item[0] == None %}
                            <div class="write_t_div">
                                <span class=" write_title">{{ item[0] }} :</span>
                            </div>
                            <br>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-xs-8 col-md-5">
                    {% for item in form.items %}
                        <div class="write_container">
                            <span>{{ item.item }}</span>
                            <br>
                        </div>
                    {% endfor %}
                </div>
                {{ form.submit }}
            </form>
        </div>
    </div>
    <style>
        #submit {
            background-color: #7cbef0 !important;
            margin-top: 20px;
            float: right;
        }

        .write_t_div {
            width: 100%;
            margin-top: 0px;
            height: 40px;
            margin-top: 0px;
            float: right;
            text-align: right;
            font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
            font-weight: bold;
        }

        .write_title {
            padding-top: 2px;
            font-size: 1.4vw;
        }

        .write_container {
            margin-top: 0px;
            height: 40px;
        }
    </style>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $("input").addClass("form-control")
    </script>



{% endblock %}

