{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <style>
        .myBoder{
            border: 1px solid #ccc!important;
            padding:14px;
            border-radius: 16px!important;
            height: 100%;
        }
    </style>

    <div style="height: 620px">
        {% if form %}
            {{ wtf.quick_form(form) }}
            <br>
        {% endif %}

        {% include 'time.html' %}
        <br>

        <div class="row" style="height: 50%">
            <div class="col-md-4 myBoder" >
                {% include 'news_cdut.html' %}
            </div>
            <div class="col-md-5 myBoder" style="margin-left: 6px">
                {% include 'notice.html' %}
            </div>
            <div class="col-md-2 myBoder" style="margin-left: 6px">
                {% include 'today.html' %}
            </div>

        </div>
        <div class="row" style="height: 30%" >
            <div class="col-md-4 myBoder" style="margin-top: 10px">
                {% include 'news_allschool.html' %}
            </div>
            <div class="col-md-7 myBoder" style="margin-top: 10px; margin-left: 6px">
                {% include 'discuss.html' %}
            </div>
        </div>
    </div>
{% endblock %}