<center><h4>教务处通知</h4></center>
<a href="{{ url_for('news_cdut.more') }}" class="more"><i class="glyphicon glyphicon-share-alt"></i> more +</a>
<hr>

<script>
    var myDate = new Date();
</script>

{% for news in news_cdut %}
    {% if (date-datetime.strptime(re.sub('\D', '-', news[2]).rstrip('-'), "%Y-%m-%d")).days > 3 %}
    <li style="padding-bottom: 5px"><a href="{{ news[0] }}" target="_blank">{{ news[1] }}</a></li>
    {% else %}
    <li style="padding-bottom: 5px"><a href="{{ news[0] }}" target="_blank">{{ news[1] }} <span class="badge">新</span></a></li>
    {% endif %}
{% endfor %}


<style>
    .more{
        float: right;
        color: lightgreen;
    }
</style>