{% block head %}
    <style>
        #deadtime{
            font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
            font-size: x-large;
            text-align: center;
            font-weight: bold;
        }
        #warn{
            font-size: 21px;
        }
    </style>
{% endblock %}

{% if current_user.deadtime_info %}
    <div id="deadtime"><span class="glyphicon glyphicon-exclamation-sign" id="warn"></span>
        距 {{ current_user.deadtime_info }} 还有  <span id="days"></span> 天 </div>
{% endif %}


{% block scripts %}
    <script type="text/javascript">
        let date = '{{ current_user.deadtime_day }}';
        let no_hour = date.substring(0,10);
        let date1 = new Date();
        let date2 = new Date(no_hour);
        let days = (date2.getTime() - date1.getTime()) / (24 * 60 * 60 * 1000);
        let days_del = parseInt(days);
        document.getElementById("days").innerHTML=days_del;
        if(days>=180){
            document.getElementById("days").style.color = '#1abc9c';
        }
        else if(days>=90){
            document.getElementById("days").style.color = '#2ecc71';
        }
        else if(days>=10){
            document.getElementById("days").style.color = '#e67e22';
        }
        else{
            document.getElementById("days").style.color = '#e74c3c';
        }
    </script>
{% endblock %}
